@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@-webkit-keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

@-webkit-keyframes an-thunders {
  0%,
  19%,
  21%,
  39%,
  41%,
  59%,
  61%,
  79%,
  81% {
    opacity: 0;
  }
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }
  39%,
  41% {
    -webkit-transform: none;
    transform: none;
  }
  40% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes an-thunders {
  0%,
  19%,
  21%,
  39%,
  41%,
  59%,
  61%,
  79%,
  81% {
    opacity: 0;
  }
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }
  39%,
  41% {
    -webkit-transform: none;
    transform: none;
  }
  40% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}

.white-code {
  color: #f0f0f0;
}

.lightBrown-code {
  color: #af715a;
}

.blue-code {
  color: #8cdaff;
}

.green-code {
  color: #4ecab1;
}

.purple-code {
  color: #e499ea;
}

.yellow-code {
  color: #cdd1a2;
}

.darkBlue-code {
  color: #478dc6;
}

li {
  list-style: none;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

a,
.btn,
button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

.p-t-100 {
  padding-top: 100px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-l-2 {
  padding-left: 2px;
}

.m-l-4 {
  margin-left: 4px;
}

canvas {
  position: absolute;
}

.ag-thunders {
  background: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/animation-thunders/images/thunders.png) no-repeat scroll 50% 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: an-thunders 2s infinite alternate;
  animation: an-thunders 2s infinite alternate;
}

#about {
  position: relative;
  top: 50px;
  left: -33px;
  width: 100%;
  height: 100%;
}

#about .wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #1d1d1d;
  padding: 89px 56px;
}

#about .wrapper .tags {
  bottom: auto;
  top: 6px;
  color: #1968c0;
  position: absolute;
  left: 2rem;
  font-style: italic;
  font-size: 1.8rem;
  font-family: "La Belle Aurore", cursive;
}

#about .wrapper .tags::after {
  content: "<main>";
  font-family: "La Belle Aurore", cursive;
  color: #1968c0;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 2rem;
}

#about .wrapper .static-txt {
  font-weight: 400;
  color: #e7e7e7;
  font-size: 60px;
}

#about .wrapper .static-txt::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #1968c0;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  margin-top: -4px;
  left: 52px;
}

#about .wrapper .static-txt::after {
  content: "<!-- <h3> Sharifova Sahara </h3> -->";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  top: 36%;
  left: 70px;
}

#about .wrapper .dinamic-txts {
  margin-left: 15px;
  font-weight: 600;
  height: 90px;
  overflow: hidden;
  z-index: 4;
}

#about .wrapper .dinamic-txts::before {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #1968c0;
  font-size: 18px;
  position: absolute;
  margin-top: 77px;
  right: 65px;
}

#about .wrapper .dinamic-txts li {
  font-size: 60px;
  color: #00ff00;
  -webkit-animation: slide 6s steps(4) infinite;
          animation: slide 6s steps(4) infinite;
  position: relative;
  top: 0;
}

#about .wrapper .dinamic-txts li span {
  position: relative;
  z-index: 4;
}

#about .wrapper .dinamic-txts li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 2px solid white;
  left: 0;
  -webkit-animation: typing 1.5s steps(11) infinite;
          animation: typing 1.5s steps(11) infinite;
  background: #1d1d1d;
}

#about .contact-info {
  background: #1d1d1d;
  padding-left: 45px;
  margin-top: 16px;
  padding-top: 28px;
}

#about .contact-info .email-tel {
  position: relative;
}

#about .contact-info .email-tel .code-item {
  padding-left: 18px;
}

#about .contact-info .email-tel .code-item .dashed::before {
  content: "";
  border-left: 1px dashed #888484;
  top: 96px;
  height: 20%;
  left: 22px;
  position: absolute;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 1px;
  z-index: 1;
  margin-left: -1px;
}

#about .contact-info .email-tel .code-item-info {
  padding-left: 48px;
}

#about .contact-info .email-tel .dashed::before {
  content: "";
  border-left: 1px dashed #888484;
  top: 49px;
  height: 58%;
  left: 4px;
  position: absolute;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 1px;
  z-index: 1;
  margin-left: -1px;
}

#about .player-container {
  height: 400px;
  width: 300px;
  background: #181818;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  /* Progress */
  /* Controls */
}

#about .player-container .img-container {
  width: 200px;
  height: 200px;
  position: relative;
  top: -50px;
  left: 50px;
}

#about .player-container .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.6);
}

#about .player-container h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  color: #fff;
}

#about .player-container h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
  color: #b3b3b3;
}

#about .player-container .progress-container {
  background: #535353;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

#about .player-container .progress-container .progress {
  background: #b3b3b3;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

#about .player-container .progress-container .duration-wrapper {
  position: relative;
  top: -28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #b3b3b3;
}

#about .player-container .player-controls {
  position: relative;
  top: -15px;
  left: 76px;
  width: 200px;
  z-index: 5;
}

#about .player-container .player-controls .fas {
  font-size: 30px;
  color: #b3b3b3;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#about .player-container .player-controls .fas.fa-play {
  color: #fff;
}

#about .player-container .player-controls .fas.fa-pause {
  color: #fff;
}

#about .player-container .player-controls .fas:hover {
  color: #fff;
}

#about .player-container .player-controls .fas .main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}
/*# sourceMappingURL=style.css.map */