:root {
    --primary-color: #6edae6;
    --white-color: #fff;
    --black-color: #000;
}
.section-3 {
    width: 100%;
    // height: 100%;
    background-color: var(--black-color);
    flex-direction: column;
    // height: 100vh;

}
/* Section 3 Heading */
.section-3-heading {
    font-size: 10rem;
    font-weight: 200;
    font-family: $oswaldFontFamily;
    color: var(--primary-color);
    margin-bottom: 4rem;
}
/* End of Section 3 Heading */

/* Section 3 Content */
.section-3-content {
    width: 80%;
    flex-direction: column;
    perspective: 1000rem;
    position: relative;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 3 Images */
.section-3-content img {
    width: inherit;
}

.macbook-img-1 {
    transform: rotateX(-80deg);
    transform-origin: bottom;
}

.change .macbook-img-1 {
    transform: rotateX(0);
    transition: transform 3s;
}
/* End of Section 3 Images */

/* Section 3 Loading */
.loading-wrapper {
    position: absolute;
    top: 5%;
    width: 62%;
    height: 85%;
    background: url(/assets/img/safari1.jpg) center no-repeat;
    z-index: -1;
    opacity: 0;
}

.change .loading-wrapper {
    opacity: 1;
    transition: opacity 1s 2s;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    flex-direction: column;
}

.change .loading {
    opacity: 0;
    transition: 1s 5s;
}

.loading i {
    font-size: 10rem;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.progress-bar {
    width: 22rem;
    height: 0.3rem;
    background-color: #888;
    border-radius: 5rem;
    position: relative;
}

.progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--white-color);
}

.change .progress-bar::after {
    width: 100%;
    transition: width 1s 3s;
}
/* End of Section 3 Loading */

/* Section 3 Info */
.macbook-info {
    position: absolute;
    background: white;
    opacity: 0;
    width: 29rem;
    left: 35%;
    text-align: center;
    input {
        height: 34px;
        border-radius: 25px;
        padding: 0 25px 0 24px;
    }
    textarea{
        min-height: 42px;
        border-radius: 22px;
        padding: 10px 23px;
    }
    button{
        width: 100%;
        height: 40px;
        border-radius: 25px;
        background: #846add;
        font-family: Montserrat-Bold;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
    }
    .contact{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 24px;
        color: #333333;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 10px;
    }
}

.change .macbook-info {
    opacity: 1;
    transition: opacity 1s 6s;
}

.macbook-info-heading {
    font-size: 6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.macbook-price {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 3rem 0;
}

.macbook-btn {
    width: 25rem;
    height: 5rem;
    background-image: linear-gradient(#ddd, #fff);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #fff, -0.1rem -0.1rem 0.1rem #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: var(--primary-color);
    cursor: pointer;
}
