@media (max-width: 1800px) {
  #pricing .section-heading-line {
    margin-right: 3rem;
  }
}

@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 1500px) {
  // .section-heading-line {
  //   display: none;
  // }
}

@media (max-width: 1400px) {
  // html {
  //   font-size: 45%;
  // }

  
  // #pricing {
  //   flex-direction: column;
  // }

  #pricing {
    height: auto;
    padding: 5rem 0 3rem 5rem;
  }

  // #pricing {
  //   .section-heading {
  //     margin-bottom: 7rem;
  //   }
  // }

  .swiper-container {
    width: 100%;
  }
}

@media (max-width: 900px) {
  // html {
  //   font-size: 40%;
  // }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
}
/* End of Responsive */


//-------------------------------------------------------------------------------------

