$primary_font_family:'Roboto', sans-serif;
$secondary-Font-Family: 'Nunito', sans-serif;;
$blueColor:#437eeb;
$backgroundColor: #f5f8fc;
$whiteColor: #ffffff;
$boxShadowColor:#cccccc;
$grayColor:#666666;
$darkGray:#232323;
$borderColor:#e7e7e7;
$blueHover:#1da1f2 ;