$primary_font_family:'Roboto', sans-serif;
$secondary-Font-Family: 'Nunito', sans-serif;
$laBelleFont:'La Belle Aurore', cursive;
$blueColor:#437eeb;
$classColor:#93ddf7;
$tagColor:#1968c0;
$backgroundColor: #f5f8fc;
$whiteColor: #ffffff;
$boxShadowColor:#cccccc;
$grayColor:#515152;
$darkGray:#232323;
$borderColor:#e7e7e7;
$blueHover:#1da1f2 ;
$backgroundDark:#1d1d1d;
