$primary_font_family:'Roboto', sans-serif;
$secondary-Font-Family: 'Nunito', sans-serif;
$laBelleFont:'La Belle Aurore', cursive;
$oswaldFontFamily:"Oswald", sans-serif;
$blueColor:#437eeb;
$classColor:#93ddf7;
$tagColor:#1968c0;
$backgroundColor: #f5f8fc;
$whiteColor: #ffffff;
$symbolColor: #f5f8fc;
$boxShadowColor:#cccccc;
$grayColor:#515152;
$darkGray:#232323;
$borderColor:#e7e7e7;
$blueHover:#1da1f2 ;
$backgroundDark:#1d1d1d;
$blue:                  #007eb3;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #bc0085;
$purple:                #7a43b6;

// #8cdaff
